<div class="card register-card">
    <div class="card-body">
        <h3 class="card-title text-center">Registrazione</h3>

        <form [formGroup]="form" method="dialog">
            <p class="text-start">Ci sei quasi, scegli una password sicura</p>
            <div class="form-floating mt-4 mb-4">
                <input formControlName="password" type="password" class="form-control" id="password" placeholder=""
                    name="password" required> <label for="password">Password*</label>
                <div class="container d-flex validation-message-container align-items-center"
                    [class.show]="(passwordErrors?.['minlength'] || passwordErrors?.['required']) && form.get('password')?.dirty">
                    <i class="bx bxs-error-circle" style="color:#fa0101;"></i>
                    <p class="text-danger m-0">La password deve essere lunga almeno 8 caratteri</p>
                </div>
                <div class="container d-flex validation-message-container align-items-center"
                    [class.show]="passwordErrors?.['containsLowerCase'] && form.get('password')?.dirty">
                    <i class="bx bxs-error-circle" style="color:#fa0101;"></i>
                    <p class="text-danger m-0">La password deve contenere almeno un carattere minuscolo</p>
                </div>
                <div class="container d-flex validation-message-container align-items-center"
                    [class.show]="passwordErrors?.['containsUpperCase'] && form.get('password')?.dirty">
                    <i class="bx bxs-error-circle" style="color:#fa0101;"></i>
                    <p class="text-danger m-0">La password deve contenere almeno un carattere maiuscolo</p>
                </div>
                <div class="container d-flex validation-message-container align-items-center"
                    [class.show]="passwordErrors?.['containsSpecialCharacter'] && form.get('password')?.dirty">
                    <i class="bx bxs-error-circle" style="color:#fa0101;"></i>
                    <p class="text-danger m-0">La password deve contenere almeno un carattere speciale</p>
                </div>
                <div class="container d-flex validation-message-container align-items-center"
                    [class.show]="form.get('password')?.valid">
                    <i class="bx bxs-check-circle" style="color:#5cb85c;"></i>
                    <p class="text-success m-0">Password sicura</p>
                </div>
            </div>
            <div class="form-floating mt-4 mb-4">
                <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
                    placeholder="" name="confirmPassword" required> <label for="confirmPassword">Ripeti
                    password*</label>
                <div class="container d-flex validation-message-container align-items-center"
                    [class.show]="formErrors?.['samePassword'] && form.get('confirmPassword')?.dirty || (formErrors?.['samePassword'] && form.get('password')?.valid)">
                    <i class="bx bxs-error-circle" style="color:#fa0101;"></i>
                    <p class="text-danger m-0">Le password non coincidono</p>
                </div>
                <div class="container d-flex validation-message-container align-items-center" [class.show]="form.valid">
                    <i class="bx bxs-check-circle" style="color:#5cb85c;"></i>
                    <p class="text-success m-0">Le password coincidono</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating">
                        <button class=" invisible-button" (click)="changeComponent('name-component')"> <i
                                class='bx bx-md bx-left-arrow-circle'></i> </button>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="form-floating">
                        <button class="btn btn-primary d-flex align-items-center justify-content-center"
                            (click)="register()" [disabled]="!form.valid">
                            Iscriviti <i class='bx bx-md bx-right-arrow-circle'></i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="myModal" class="custom-modal" [style.display]="display">
    <div class="custom-modal-content">
        @if (registrationSuccess) {
        <h1 class='bx bxs-check-circle bx-tada' style="color: #21a721; font-size: 50px;"></h1>
        <h3 style="font-size: x-large;">Registrazione avvenuta con successo!</h3>
        <p style="font-size: large;">Ti abbiamo inviato un'email contenente un link per attivare il tuo account.
            Affrettati, il link scade dopo 24 ore.</p>
        <div class="d-flex justify-content-end">
            <button (click)="goToLogin()" class="modal-button color-green">Vai al login</button>
        </div>
        }@else {
        <h1 class='bx bxs-error-circle' style="color: #fa0101; font-size: 50px;"></h1>
        <h3 style="font-size: large;">Qualcosa è andato storto durante il processo di registrazione!</h3>
        <p style="font-size: large;">Prova a registrarti di nuovo e se il problema persiste contatta l'amministratore.
        </p>
        <div class="d-flex justify-content-end">
            <button class="modal-button color-red" (click)="retryRegistration()">Riprova</button>
        </div>
        }
    </div>
</div>