<main class="res-container">
    <div class="title">
        <h3>
            Seleziona risorsa
        </h3>
    </div>

    <form class="form-container">
        <div class="res-select">
            <label for="resource" class="form-lbl">Slot:</label>
            <select name="slot" id="slot" [(ngModel)]="currentSlot.title" (change)="onSlotChange()">
                @for (slot of listSlotPrenotazioni; track $index) {
                    <option value="{{ slot.title }}">{{ slot.title }}</option>
                }
            </select>
        </div>

        <div class="info">
            <label for="resource" class="form-lbl">Risorsa:</label>
            <input type="text" id="resource" name="resource" class="form-inp" disabled [(ngModel)]="currentSlot.resource.title">
        </div>

        <div class="orario-info">
            <div class="info">
                <label for="dateStart" class="form-lbl">Orario inizio:</label>
                <input type="text" id="dateStart" name="dateStart" class="form-inp" [value]="currentSlot.dateStart | date:'shortTime'" disabled>
            </div>

            <div class="info">
                <label for="dateEnd" class="form-lbl">Orario fine:</label>
                <input type="text" id="dateEnd" name="dateEnd" class="form-inp" [value]="currentSlot.dateEnd | date:'shortTime'" disabled>
            </div>
        </div>

        <div class="info">
            <label for="note" class="form-lbl">Note:</label>
            <textarea rows="4" id="note" name="note" class="form-txt" disabled [(ngModel)]="currentSlot.note"></textarea>
        </div>

        <div class="form-btn">
            <button type="submit" (click)="save()">Prenota</button>
        </div>
    </form>
</main>