<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="card register-card">
        <div class="card-body">
            <h3 class="card-title text-center">Registrazione</h3>
            <div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input [(ngModel)]="nome" type="text" class="form-control" id="name" placeholder="" name="name" required>
                            <label for="name">Nome</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input [(ngModel)]="cognome" type="text" class="form-control" id="surname" placeholder="" name="surname" required>
                            <label for="surname">Cognome</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating mt-4 mb-4">
                    <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="" name="email" required> <label
                        for="email">Email</label>
                </div>
                <div class="form-floating mb-4">
                    <input [(ngModel)]="username" type="text" class="form-control" id="username" placeholder="" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-4">
                    <input  [(ngModel)]="password"  #passwordinput type="password" class="form-control" id="password" placeholder=""
                        name="password" required (focus)="OnFocus()" (blur)="OnBlur()" (input)="PassowrdChanged()" minlength="6">
                    <label for="password">Password</label>
                </div>
                <div class="password-rules" *ngIf="show">
                    <ul class="mt-0 pt-0">
                        <li [class.valid]="password.length > 5">Almeno 6 caratteri</li>
                        <li [class.valid]="hasNumber()">Almeno un numero</li>
                        <li [class.valid]="hasLowerCase()">Almeno una lettera minuscola</li>
                        <li [class.valid]="hasUpperCase()">Almeno una lettera maiuscola</li>
                        <li [class.valid]="hasSpecial()">Almeno un carattere speciale</li>
                    </ul>
                </div>
                <div class="form-floating mb-4">
                    <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder=""
                        name="confirmPassword" required> <label for="confirmPassword">Conferma Password</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary" (click)="Register()">Registrati</button>
                </div>
            </div>
            <a class="custom-link" href="#" [routerLink]="'/login'">Login</a>
        </div>
    </div>
</body>

</html>