<div class="bg-group" style="height: 160px; overflow-y: auto; scrollbar-width: none;">
  <app-navbar></app-navbar>
  <div class="container mt-3" >
    <div class=" mb-4 d-flex justify-content-start ">
      <button class="btn btn-primary btn-sm">
        <a [routerLink]="'/backoffice/group-list'" class="text-white text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
        </a> 
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center gap-5">
      <!-- Form per il nome e gli utenti -->
      <div class="col-md-4 mb-4">
        <div class="bg-secondary p-4 p-md-5 rounded shadow-sm">
          <form>
            <div class="mb-3">
              <label for="nome" class="form-label text-white">Nome:</label>
              <input
                type="text"
                id="nome"
                name="nome"
                class="form-control"
                [(ngModel)]="current.nome"
                required
              />
            </div>
            <div>
              <h4><label for="ruoli" class="form-label text-white">Ruoli:</label></h4>
            </div>
            <div style="height: 160px; overflow-y: auto; scrollbar-width: thin; scrollbar-color: #ffffff #6C757D;">
              <div class="mb-3" *ngFor="let role of avaibleRoles">
                <input
                  type="checkbox"
                  id="ruoli-{{ role.id }}"
                  name="ruoli"
                  class="form-check-input"
                  [checked]="selectedRole.has(role.id)"
                  (change)="toggleRole(role)"
                  required
                />
                <label class="form-check-label ms-2 text-white" for="ruoli-{{ role.id }}">
                  {{ role.nome }}
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-4">
        <button class="btn btn-success w-100 mb-5 btn-md " type="button" (click)="save()">
          Salva
        </button>
      </div>
    </div>
  </div>
</div>
