<div class="bg-group">
  <app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="mt-4 mb-4 d-flex justify-content-start">
      <button class="btn btn-primary">
        <a href="/backoffice/group-list" class="text-white text-decoration-none">Indietro</a>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center gap-5">
      <!-- Form per il nome e gli utenti -->
      <div class="col-md-4 mb-4">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <form>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome:</label>
              <input
                type="text"
                id="nome"
                name="nome"
                class="form-control"
                [(ngModel)]="current.nome"
                required
              />
            </div>
            <div class="mb-3">
              <label for="search" class="form-label">Cerca Utenti:</label>
              <input
                type="search"
                id="search"
                name="search"
                class="form-control"
                [(ngModel)]="searchTerm"
                (input)="searchUsers()"
                required
              />
            </div>
            <div>
              <label for="utenti" class="form-label">Utenti:</label>
            </div>
            <div class="mb-5" style="height: 160px; overflow-y: auto;">
              <div *ngFor="let user of filteredUsers">
                <input
                  type="checkbox"
                  id="utenti-{{ user.id }}"
                  name="utenti"
                  class="form-check-input mb-3 ms-2"
                  [checked]="selectedUser.has(user.id)"
                  (change)="toggleUser(user)"
                  required
                />
                <label class="form-check-label ms-2" for="utenti-{{ user.id }}">
                  {{ user.username }}
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Form per i ruoli -->
      <div class="col-md-4 mb-4">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <form>
            <div>
              <label for="ruoli" class="form-label">Ruoli:</label>
            </div>
            <div class="mb-3" *ngFor="let role of avaibleRoles">
              <input
                type="checkbox"
                id="ruoli-{{ role.id }}"
                name="ruoli"
                class="form-check-input"
                [checked]="selectedRole.has(role.id)"
                (change)="toggleRole(role)"
                required
              />
              <label class="form-check-label ms-2" for="ruoli-{{ role.id }}">
                {{ role.nome }}
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-md-8">
        <button class="btn btn-primary w-100" type="button" (click)="save()">
          Salva
        </button>
      </div>
    </div>
  </div>
</div>