<app-navbar></app-navbar>
<div class="row">
    <div class="col">
        <button><a href="backoffice/user">Aggiungi nuovo utente</a></button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>User</th>
                    <th>Ruolo</th>
                    <th>Gruppo</th>
                </tr>
            </thead>
            <tbody>
                @for (user of arrayUser; track $index) {
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.nome}}</td>
                        <td>{{user.cognome}}</td>
                        <td>{{user.username}}</td>
                        <td>

                          @for(ruolo of user.ruoli; track $index) {
                            {{ruolo.nome}},
                          }
                        </td>
                        <td>

                          @for(gruppo of user.gruppi; track $index) {
                          {{gruppo.nome}}
                        }
                      </td>
                        <td>
                            <button class="btn btn-sm btn-primary me-3" type="button" (click) = "edit(user)">Modifica</button>
                            <button class="btn btn-sm btn-danger" type="button" (click) = "delete(user)">Elimina</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

