<div class="bg-user-list">
  <app-navbar></app-navbar>
  <div class="row mt-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-10 col-lg-8 mb-4 ">
        <div class="bg-white p-3 p-md-4 rounded shadow-sm  ">
          <div class="row">
            <div class="col-auto">
              <a class="btn btn-primary mb-3 mt-3 ms-3" href="/backoffice/user">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                </svg>
              </a>
            </div>
            <div class="col d-flex justify-content-end">
              <input type="search" class="form-control mb-3 mt-3 me-3" [(ngModel)]="searchTerm" (input)="searchUsers()" style="width: 300px;" placeholder="🔍"/>
            </div>
          </div>
          <table class="table table-striped w-100">
          <thead>
            <tr>
              <th class="fs-5">Id</th>
                <th class="fs-5">Nome</th>
                <th class="fs-5">Cognome</th>
                <th class="fs-5">Username</th>
                <th class="fs-5">Ruoli</th>
                <th class="fs-5">Gruppi</th> 
                <th class="fs-5 text-end">Azioni</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers">
              <td class="fs-6">{{ user.id }}</td>
              <td class="fs-6">{{ user.nome }}</td>
              <td class="fs-6">{{ user.cognome }}</td>
              <td class="fs-6">{{ user.username }}</td>
              <td class="fs-6">
                <span *ngFor="let ruolo of user.ruoli">{{ ruolo.nome }}, </span>
              </td>
              <td class="fs-6">
                <span *ngFor="let gruppo of user.gruppi">{{ gruppo.nome }}</span>
              </td>
              <td class="fs-6 text-end">
                <button class="btn btn-sm btn-primary me-3" type="button" (click)="edit(user)">Modifica</button>
                <button class="btn btn-sm btn-danger" type="button" (click)="delete(user)">Elimina</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>