<main class="ml-3 mr-3">
  <h1 class="text-3xl font-bold mt-7 mb-7">{{ currentTypeOfForm }} Risorsa</h1>

  @if (resourceForm) {
  <form [formGroup]="resourceForm" (ngSubmit)="saveResource()">
    <div class="flex flex-row justify-between">
      <div class="flex flex-col mb-2 w-full mr-4">
        <label for="id">ID</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="number"
          name="id"
          id="id"
          formControlName="id"
        />
      </div>
      <div class="flex flex-col mb-2 w-full">
        <label for="title">Titolo</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="text"
          name="title"
          id="title"
          formControlName="title"
        />
      </div>
    </div>
    <div class="flex flex-col mb-2">
      <label for="description">Descrizione</label>
      <input
        class="rounded-md px-2 py-2 text-black"
        type="text"
        name="description"
        id="description"
        formControlName="description"
      />
    </div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-col mb-2 w-full mr-4">
        <label for="info1">Info 1</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="text"
          name="info1"
          id="info1"
          formControlName="info1"
        />
      </div>
      <div class="flex flex-col mb-2 w-full">
        <label for="info2">Info 2</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="text"
          name="info2"
          id="info2"
          formControlName="info2"
        />
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <div class="flex flex-col mb-2 w-full mr-4">
        <label for="info3">Info 3</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="text"
          name="info3"
          id="info3"
          formControlName="info3"
        />
      </div>
      <div class="flex flex-col mb-2 w-full">
        <label for="info4">Info 4</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="text"
          name="info4"
          id="info4"
          formControlName="info4"
        />
      </div>
    </div>

    <div class="flex flex-row justify-between">
      <div class="flex flex-col mb-2 w-full mr-4">
        <label for="info5">Info 5</label>
        <input
          class="rounded-md px-2 py-2 text-black"
          type="text"
          name="info5"
          id="info5"
          formControlName="info5"
        />
      </div>
      <div class="flex flex-col mb-2 w-full mr-4">
        <label for="remoteAccess">Accesso Remoto</label>
        <select
          class="rounded-md px-2 py-2 text-black"
          name="remoteAccess"
          id="remoteAccess"
          formControlName="remoteAccess"
        >
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="flex flex-col mb-2 w-full">
        <label for="bookable">Prenotabile</label>
        <select
          class="rounded-md px-2 py-2 text-black"
          name="bookable"
          id="bookable"
          formControlName="bookable"
        >
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
    <button
      class="bg-zinc-950 h-9 pr-3 pl-3 mr-2 text-white rounded-md"
      type="submit"
      [disabled]="!resourceForm.valid"
    >
      {{ currentTypeOfForm }}
    </button>
  </form>
  }
</main>
