<main class="ml-3 mr-3">
  <h1 class="text-3xl font-bold mt-7 mb-7">{{currentTypeOfForm}} Risorsa</h1>

  @if (resourceForm) {
  <form [formGroup]="resourceForm" (ngSubmit)="saveResource()">
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="id">ID</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="number"
        name="id"
        id="id"
        formControlName="id"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="title">Titolo</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="title"
        id="title"
        formControlName="title"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="description">Descrizione</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="description"
        id="description"
        formControlName="description"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="info1">Info 1</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="info1"
        id="info1"
        formControlName="info1"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="info2">Info 2</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="info2"
        id="info2"
        formControlName="info2"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="info3">Info 3</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="info3"
        id="info3"
        formControlName="info3"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="info4">Info 4</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="info4"
        id="info4"
        formControlName="info4"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="info5">Info 5</label>
      <input
        class="font-medium border-2 rounded-md px-3 py-2"
        type="text"
        name="info5"
        id="info5"
        formControlName="info5"
      />
    </div>
    <div class="flex flex-col mb-5">
      <label class="font-medium" for="remoteAccess">Accesso Remoto</label>
      <select
        class="font-medium border-2 rounded-md px-3 py-2"
        name="remoteAccess"
        id="remoteAccess"
        formControlName="remoteAccess"
      >
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>
    <div class="flex flex-col mb-10">
      <label class="font-medium" for="bookable">Prenotabile</label>
      <select
        class="font-medium border-2 rounded-md px-3 py-2"
        name="bookable"
        id="bookable"
        formControlName="bookable"
      >
        <option value="true">Si</option>
        <option value="false">No</option>
      </select>
    </div>

    <button
      class="bg-zinc-950 h-11 px-6 text-white rounded-md mb-32"
      type="submit"
      [disabled]="!resourceForm.valid"
    >
      {{currentTypeOfForm}}
    </button>
  </form>
  }
</main>