<div class="bg-user">
  <app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="mt-4 mb-4 d-flex justify-content-start">
      <button class="btn btn-primary">
        <a [routerLink]="'/backoffice/user-list'" class="text-white text-decoration-none">Indietro</a>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- Form per nome, cognome, email, password e username -->
      <div class="col-md-4 mb-4">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <form>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome:</label>
              <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="current.nome" required/>
            </div>
            <div class="mb-3">
              <label for="cognome" class="form-label">Cognome:</label>
              <input type="text" id="cognome" name="cognome" class="form-control" [(ngModel)]="current.cognome" required/>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="text" id="email" name="email" class="form-control" [(ngModel)]="current.email" required/>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="current.password" required/>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username:</label>
              <input type="text" id="username" name="username" class="form-control" [(ngModel)]="current.username" required/>
            </div>
          </form>
        </div>
      </div>

      <!-- Form per l'inserimento dei ruoli -->
      <div class="col-md-4 mb-4">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <form>
            <div>
              <label for="ruoli" class="form-label">Ruoli:</label>
            </div>

            <div class="mb-3" *ngFor="let role of avaibleRoles">
              <input
                type="checkbox"
                id="ruoli-{{ role.id }}"
                name="ruoli"
                class="form-check-input"
                [checked]="selectedRole.has(role.id)"
                (change)="toggleRole(role)"
                required
              />
              <label class="form-check-label ms-2" for="ruoli-{{ role.id }}">
                {{ role.nome }}
              </label>
            </div>
          </form>
        </div>
      </div>

      <!-- Form per l'inserimento dei gruppi -->
      <div class="col-md-4 mb-4">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <form>
            <div>
              <label for="gruppi" class="form-label">Gruppi:</label>
            </div>
            <div class="mb-3" *ngFor="let group of avaibleGroups">
              <input
                type="checkbox"
                id="gruppi-{{ group.id }}"
                name="gruppi"
                class="form-check-input"
                [checked]="selectedGroup.has(group.id)"
                (change)="toggleGroup(group)"
                required
              />
              <label class="form-check-label ms-2" for="gruppi-{{ group.id }}">
                {{ group.nome }}
              </label>
            </div>
          </form>
        </div>
      </div>

    <!-- Bottone Salva -->
    <div class="row mt-4">
      <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg w-50  mb-5" type="button" (click)="save()">Salva</button>
      </div>
    </div>
  </div>
</div>
