<main>
    <!-- !SECTION  MAIN CALENDAR! -->
    <section class="calendar-container section">
        <!-- ?SECTION HEADER CALENDAR? -->
        <section class="header-cal-sec">
            <header class="header-cal">
                <div class="header-date-container">
                    <div class="date-container" id="dateContainer">
                        <div>
                            <span>{{ monthLong }}</span>
                            <span>{{ year }}</span>
                        </div>
                    </div>
                </div>
                    
                <div class="header-util-container">
                    <div class="util-container">
                        @if (tipoVis == "GIORNALIERO") { 
                            <div class="btn-risorse-container">
                                <a (click)="changeTabRes()"><span>Risorse</span></a>
                            </div>
                        }
                        
                        <div class="btn-risorse-container">
                            <a class="menu-handleView" (click)="selectVis()"><span>Visualizzazione</span></a>
                            
                            @if (visMenu) {
                                <ul class="menu-vis">
                                    <li><a (click)="handleViewClick($event, 'GIORNALIERO')">Giornaliero</a></li>
                                    <li><a (click)="handleViewClick($event, 'MENSILE')">Mensile</a></li>
                                </ul>
                            }
                        </div>
                        
                        <div class="btn-risorse-container">
                            <a (click)="selectToday()"><span>Today</span></a>
                        </div>

                        <div class="btn-cal-container">
                            @if (tipoVis == null || tipoVis == "MENSILE") { 
                                <square-btn [className]="'btn-scrollUp'"></square-btn>
                                <square-btn [className]="'btn-scrollDown'"></square-btn>
                            }
                             <!-- @else if (tipoVis == "GIORNALIERO") { 
                                <square-btn [className]="'btn-scrollLeft'"></square-btn>
                                <square-btn [className]="'btn-scrollRight'"></square-btn>
                            } -->
                        </div>
                    </div>
                </div>
            </header>
        </section>

        <!-- ?SECTION MAIN CALENDAR? -->
        <section class="main-cal-sec">
            @if (tipoVis == null || tipoVis == "MENSILE") {
                <table class="main-rdp">
                    <thead class="main-rdp-head">
                        <tr class="main-rdp-head_row">
                            <th class="main-rdp-head_cell">Mo</th>
                            <th class="main-rdp-head_cell">Tu</th>
                            <th class="main-rdp-head_cell">We</th>
                            <th class="main-rdp-head_cell">Th</th>
                            <th class="main-rdp-head_cell">Fr</th>
                            <th class="main-rdp-head_cell">Sa</th>
                            <th class="main-rdp-head_cell">Su</th>
                        </tr>
                    </thead>
                    <tbody class="main-rdp-body">
                        @for (settimana of listGiorni; track $index; let settIndex = $index) {
                            <tr class="main-rdp-body_row">
                                @for (giorno of settimana; track $index; let giornoIndex = $index) {
                                    <td class="main-rdp-cell">
                                        <div class="container-btn-svg">
                                            <button class="btn-svg"  
                                                [class.trasp-cella]="giorno[1][0][1]" 
                                                [class.today]="giorno[1][0][0]"
                                                (click)="visualCella(giorno[0], giorno[1][1][0], giorno[1][1][1])">
                                                <div>
                                                    <span>{{ giorno[0] }}</span>
                                                </div>
                                            </button>
                                        </div>

                                        @for (prenotazione of calendario?.listaCelle?.[giornoIndex + (settIndex * 7)]?.prenotazioneList; track $index) {
                                            @if ($index < 3) {
                                                <div class="prenotazione-cella" id = "idDiv">
                                                    {{ prenotazione.oraInizio.substring(11) }} - {{ prenotazione.oraFine.substring(11) }} - {{ getSlot(calendario?.listaCelle?.[giornoIndex + (settIndex * 7)]?.slotPrenotazioneList, prenotazione.idSlotPrenotazione)?.risorsa?.nome }}
                                                </div>
                                            
                                            } @else {
                                                <div style="text-align: center;" class="prenotazione-cella">
                                                    <button style="background-color: transparent; color: white;"
                                                    (click)="visualCella(giorno[0], giorno[1][1][0], giorno[1][1][1])">
                                                        Altro...
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }   @else if (tipoVis == "GIORNALIERO") {
                <calendar-cell></calendar-cell>
            }
        </section>

        <!-- ?SECTION HEADER CALENDAR? -->
        <section class="alert-sec">
            <message-calendario></message-calendario>
        </section>
    </section>
</main>
