<main class="container">
    <!-- !SECTION  MAIN CALENDAR! -->
    <section class="calendar-container section">
        <!-- ?SECTION HEADER CALENDAR? -->
        <section class="header-cal-sec">
            <header class="header-cal">
                <div class="header-util-container">
                    <div class="util-container">
                        <div class="btn-cal-container">
                            <square-btn [className]="'btn-scrollUp'"></square-btn>
                            <square-btn [className]="'btn-scrollDown'"></square-btn>
                        </div>
                    </div>
                </div>
                <div class="header-date-container">
                    <div class="date-container" id="dateContainer">
                        <div>
                            <!-- <span>{{ month }}</span>
                            <span>{{ year }}</span> -->
                        </div>
                    </div>
                </div>
            </header>
        </section>
    </section>

    <!-- !SECTION  SIDEBAR UTILS! -->
    <section class="calendar-side-utils section">

    </section>
</main>
