<div class="bg-group-list">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col">
        <a class="btn btn-sm btn-primary mt-3 mb-3 ms-3" href="/backoffice/group">Aggiungi nuovo gruppo</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Ruoli</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (group of arrayGroup; track $index) {
                        <tr>
                            <td>{{group.id}}</td>
                            <td>{{group.nome}}</td>
                            <td>{{group.ruoli}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary me-3" type="button" (click) = "edit(group)">Modifica</button>
                                <button class="btn btn-sm btn-danger" type="button" (click) = "delete(group)">Elimina</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>