.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.login-card {
	width: 100%;
	max-width: 400px;
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-link {
	display: block;
	margin-top: 1rem;
	text-align: center;
	font-size: 1rem;
	color: #007bff;
	text-decoration: none;
	font-weight: 500;
}

.custom-link:hover,
.custom-pwd-link:hover {
	text-decoration: underline;
	color: #0056b3;
}