<div class="center-wrapper">
	<div class="card login-card">
		<div class="card-body">
			<h3 class="card-title text-center">Imposta una nuova password</h3>
			<form [formGroup]="form" method="dialog">
				<div class="form-floating mt-4 mb-4">
					<input formControlName="password" type="password" class="form-control" id="password" placeholder=""
						name="password" [(ngModel)]="password" required> <label for="password">Password*</label>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="(passwordErrors?.['minlength'] || passwordErrors?.['required']) && form.get('password')?.dirty">
						<i class="bx bxs-error-circle" style="color:#fa0101;"></i>
						<p class="text-danger m-0">La password deve essere lunga almeno 8 caratteri</p>
					</div>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="passwordErrors?.['containsLowerCase'] && form.get('password')?.dirty">
						<i class="bx bxs-error-circle" style="color:#fa0101;"></i>
						<p class="text-danger m-0">La password deve contenere almeno un carattere minuscolo</p>
					</div>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="passwordErrors?.['containsUpperCase'] && form.get('password')?.dirty">
						<i class="bx bxs-error-circle" style="color:#fa0101;"></i>
						<p class="text-danger m-0">La password deve contenere almeno un carattere maiuscolo</p>
					</div>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="passwordErrors?.['containsSpecialCharacter'] && form.get('password')?.dirty">
						<i class="bx bxs-error-circle" style="color:#fa0101;"></i>
						<p class="text-danger m-0">La password deve contenere almeno un carattere speciale</p>
					</div>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="form.get('password')?.valid">
						<i class="bx bxs-check-circle" style="color:#5cb85c;"></i>
						<p class="text-success m-0">Password sicura</p>
					</div>
				</div>
				<div class="form-floating mt-4 mb-4">
					<input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
						placeholder="" name="confirmPassword" required> <label for="confirmPassword">Ripeti
						password*</label>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="formErrors?.['samePassword'] && form.get('confirmPassword')?.dirty || (formErrors?.['samePassword'] && form.get('password')?.valid)">
						<i class="bx bxs-error-circle" style="color:#fa0101;"></i>
						<p class="text-danger m-0">Le password non coincidono</p>
					</div>
					<div class="container d-flex validation-message-container align-items-center"
						[class.show]="form.valid">
						<i class="bx bxs-check-circle" style="color:#5cb85c;"></i>
						<p class="text-success m-0">Le password coincidono</p>
					</div>
				</div>
				<div class="d-grid mt-4">
					<button class="btn btn-primary" [disabled]="!form.valid" (click)="confirm()">Conferma</button>
				</div>
			</form>
		</div>
	</div>
</div>