.alert {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    min-width: 15em;
    height: 4em;
    border-radius: 10px;
    padding: var(--gap-padding);
    color: var(--color-text-cell);

    .payload-content {
        width: 100%;
    }

    & > svg {
        width: 20%;
        scale: 50%;
    }
}

.alert-info {
    background-color: var(--alert-info);
}

.alert-warning {
    background-color: var(--alert-warning);
}

.alert-danger {
    background-color: var(--alert-error);
}

.btn-close {
    position: absolute;
    top: var(--section-padding);
    right: var(--section-padding);
    width: 25px;
    height: 25px;
    background-color: transparent;
}