.container-app {
    display: flex;
    position: relative;
    margin: 0;
    min-width: 100dvw;
    max-height: 100dvh;
}

.router-container {
    width: 100%;
    height: 100%;
    transition: var(--animation-smooth);
}

.router-outlet-active {
    width: 100%;
    transform: translateX(0);
}