@if (isLoaded) {
    <main class="cell-container">
        <section class="cell-sec">
            <table class="main-rdp">
                <thead class="main-rdp-head">
                    <tr class="main-rdp-head_row">
                        <th class="main-rdp-head_cell">{{ dayLong }} {{ day }}</th>
                    </tr>
                </thead>
                <tbody class="main-rdp-body">
                    @for (slot of listSlotPrenotazioni; track $index) {
                        @if ((slot.dataInizio | date:'shortTime') !== '6:00 PM') {
                            <tr class="main-rdp-body_row">    
                                <td class="num-rdp-cell">
                                    {{ (slot.dataInizio | date:'shortTime') !== '9:00 AM' ? (slot.dataInizio | date:'shortTime') : '' }}
                                </td>
                                <td class="main-rdp-cell" (click)="getSlotPrenotazioneSing(slot.id)">
                                    <div class="info-pren">
                                        <ul>
                                            <li *ngFor="let prenotazione of listSlotPrenotazioni" >
                                                Prenotazione ID: {{ prenotazione.id }},
                                                Utente: {{ prenotazione.idUtente }},
                                                Orario: {{ prenotazione.oraInizio | date: 'shortTime' }} - 
                                                        {{ prenotazione.oraFine | date: 'shortTime' }}
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </section>
        
        @if (showTabRes) {
            <section>
                <resources></resources>
            </section>
        }
    </main>
}