<main class="ml-3 mr-3">
  <div class="flex justify-between w-full items-baseline">
    <h1 class="text-xl font-bold mt-3">Slot di Prenotazione</h1>
    <div>
      <button class="bg-zinc-950 h-9 pr-3 pl-3 mr-2 text-white rounded-md" [routerLink]="['/amministrazione/slots/null/edit']">
        Nuovo Slot
      </button>
      <button class="bg-zinc-950 h-9 pr-3 pl-3 text-white rounded-md" (click)="openSucsessExportModal()">
        Task Export
      </button>
    </div>
  </div>

  <table class="w-full caption-bottom text-sm">
    <thead class="[&_tr]:border-b">
      <tr>
        <th class="h-12 px-1 text-left align-middle font-medium">ID</th>
        <th class="h-12 px-1 text-left align-middle font-medium">Titolo</th>
        <th class="h-12 px-1 text-left align-middle font-medium">
          Data inizio
        </th>
        <th class="h-12 px-1 text-left align-middle font-medium">Data fine</th>
        <th class="h-12 px-1 text-left align-middle font-medium">Note</th>
        <th class="h-12 px-1 text-left align-middle font-medium">Libero</th>
        <th class="h-12 px-1 text-left align-middle font-medium">Risorsa</th>
        <th class="h-12 px-1 text-left align-middle font-medium">Azioni</th>
      </tr>
    </thead>
    <tbody class="[&_tr:last-child]:border-0">
      @for (slot of arraySlot; track $index) {
      <tr>
        <td class="p-1 align-middle">{{ slot.id }}</td>
        <td class="p-1 align-middle">{{ slot.title }}</td>
        <td class="p-1 align-middle">{{ slot.dateStart | date: 'dd/MM/yyyy hh:mm' }}</td>
        <td class="p-1 align-middle">{{ slot.dateEnd | date: 'dd/MM/yyyy hh:mm' }}</td>
        <td class="p-1 align-middle">{{ slot.note }}</td>
        <td class="p-1 align-middle">
          {{ slot.free ? "Libero" : "Non libero" }}
        </td>
        <td class="p-1 align-middle">
          {{ slot.resource.title }}
        </td>
        <td class="p-1 align-middle flex">
          <button
            class="bg-zinc-950 h-8 pr-3 pl-3 mr-2 text-white rounded-md"
            [routerLink]="['/amministrazione/slots', slot.id, 'edit']"
          >
            Modifica
          </button>
          <button
            class="bg-red-500 h-8 pr-3 pl-3 mr-2 text-white rounded-md"
            (click)="openModal(slot.id)"
          >
            Elimina
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>

<div
  [style.display]="!isOpen ? 'none' : 'flex'"
  class="bg-black/80 absolute left-0 top-0 w-full h-full flex justify-center items-center"
>
  <div class="w-2/4 rounded-lg bg-white p-6 text-black">
    <div class="flex flex-col space-y-2 text-left">
      <h1 class="text-lg font-semibold">
        Sei sicuro di voler eliminare questo slot?
      </h1>
      <p class="font-normal mt-3">
        Questa azione non può essere annullata. Questo eliminerà permanentemente
        il slot e rimuoverà i dati dai nostri server.
      </p>
    </div>
    <div class="flex flex-row justify-end space-x-2 mt-9">
      <button
        class="bg-white border h-11 pr-3 pl-3 rounded-md w-fit"
        (click)="closeModal()"
      >
        Annulla
      </button>
      <button
        class="bg-zinc-950 h-11 pr-3 pl-3 text-white rounded-md w-fit"
        (click)="delete()"
      >
        Elimina
      </button>
    </div>
  </div>
</div>

<div
  [style.display]="!isExportComplete ? 'none' : 'flex'"
  class="bg-black/80 absolute left-0 top-0 w-full h-full flex justify-center items-center"
>
  <div class="w-2/4 rounded-lg bg-white p-6 text-black">
    <div class="flex flex-col space-y-2 text-left">
      <h1 class="text-lg font-semibold">
        Sei sicuro di voler eseguire l'export sul server?
      </h1>
      <p class="font-normal mt-3">
        Questa azione non può essere annullata. Questo esportera tutti gli slot che sono salvate sul server in un file excel sul server.
        Nota la modale si chiudere ad operazione completata.
        <span class="text-red-400">{{exportErrorMessage}}</span>
      </p>
    </div>
    <div class="flex flex-row justify-end space-x-2 mt-9">
      <button
        class="bg-white border h-11 pr-3 pl-3 rounded-md w-fit"
        (click)="closeModal()"
      >
        Annulla
      </button>
      <button
        class="bg-zinc-950 h-11 pr-3 pl-3 text-white rounded-md w-fit"
        (click)="executeExport()"
      >
        Esegui
      </button>
    </div>
  </div>
</div>