<main class="ml-3 mr-3">
  <h1 class="text-3xl font-bold mt-7">Dashboard</h1>

  <section class="grid grid-cols-2 gap-2 grid-flow-dense mt-5">
    <div class="w-full rounded-lg p-6 border-2 min-w-11">
      <h1 class="text-sm font-medium">Slot Totali</h1>
      <h1 class="text-2xl font-bold">{{ totalSlot }}</h1>
    </div>
    <div class="w-full rounded-lg p-6 border-2 min-w-11">
      <h1 class="text-sm font-medium">Risorse Totali</h1>
      <h1 class="text-2xl font-bold">{{ totalResources }}</h1>
    </div>
    <div class="w-full rounded-lg p-6 border-2 min-w-11">
      <h1 class="text-sm font-medium">Slot Disponibili</h1>
      <h1 class="text-2xl font-bold">{{ slotsAvailable }}</h1>
    </div>
    <div class="w-full rounded-lg p-6 border-2 min-w-11">
      <h1 class="text-sm font-medium">Risorse Disponibili</h1>
      <h1 class="text-2xl font-bold">{{ resourcesAvailable }}</h1>
    </div>
  </section>
</main>