<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <form>
            <div class="row gy-3 gy-md-4 overflow-hidden">
              @if (current.id>0) {
                Modifica Ruolo
              }@else {
                Creazione Ruolo
              }

              <div class="col-12">
                <label for="nome" class="form-label">Nome <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="current.nome" required>
                </div>
              </div>
              <div class="col-12">
                <label for="descrizione" class="form-label">Descrizione <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input type="text" class="form-control" id="descrizione" name="descrizione" [(ngModel)]="current.descrizione" required>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-primary btn-lg" type="button" (click)="save()">Salva</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
