<main class="ml-3 mr-3">
  <div class="flex justify-between w-full items-baseline">
    <h1 class="text-3xl font-bold mt-7">Risorse</h1>
    <button class="bg-zinc-950 h-11 pr-3 pl-3 text-white rounded-md"
      [routerLink]="['/amministrazione/resources/null/edit']">
      Nuova Risorsa
    </button>
  </div>

  <table class="w-full caption-bottom text-sm">
    <thead class="[&_tr]:border-b">
      <tr>
        <th class="h-12 px-4 text-left align-middle font-medium">ID</th>
        <th class="h-12 px-4 text-left align-middle font-medium">Titolo</th>
        <th class="h-12 px-4 text-left align-middle font-medium">
          Descrizione
        </th>
        <th class="h-12 px-4 text-left align-middle font-medium">Info 1</th>
        <th class="h-12 px-4 text-left align-middle font-medium">Info 2</th>
        <th class="h-12 px-4 text-left align-middle font-medium">Info 3</th>
        <th class="h-12 px-4 text-left align-middle font-medium">Info 4</th>
        <th class="h-12 px-4 text-left align-middle font-medium">Info 5</th>
        <th class="h-12 px-4 text-left align-middle font-medium">
          Accesso remoto
        </th>
        <th class="h-12 px-4 text-left align-middle font-medium">
          Prenotabile
        </th>
        <th class="h-12 px-4 text-left align-middle font-medium">Azioni</th>
      </tr>
    </thead>
    <tbody class="[&_tr:last-child]:border-0">
      @for (resource of arrayResources; track $index) {
      <tr>
        <td class="p-4 align-middle">{{ resource.id }}</td>
        <td class="p-4 align-middle">{{ resource.title }}</td>
        <td class="p-4 align-middle">{{ resource.description }}</td>
        <td class="p-4 align-middle">{{ resource.info1 }}</td>
        <td class="p-4 align-middle">{{ resource.info2 }}</td>
        <td class="p-4 align-middle">
          {{ resource.info3 }}
        </td>
        <td class="p-4 align-middle">
          {{ resource.info4 }}
        </td>
        <td class="p-4 align-middle">
          {{ resource.info5 }}
        </td>
        <td class="p-4 align-middle">
          {{ resource.remoteAccess ? "Si" : "No" }}
        </td>
        <td class="p-4 align-middle">
          {{ resource.bookable ? "Si" : "No" }}
        </td>
        <td class="p-4 align-middle flex">
          <button class="bg-white border rounded-md inline-flex h-9 items-center px-3 mr-2"
            [routerLink]="['/amministrazione/resources', resource.id, 'edit']">
            Modifica
          </button>
          <button class="bg-red-500 rounded-md text-white inline-flex h-9 items-center px-3 mr-2"
            (click)="openModal(resource.id)">
            Elimina
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</main>

<div [style.display]="!isOpen ? 'none' : 'flex'"
  class="bg-black/80 absolute left-0 top-0 w-full h-full flex justify-center items-center">
  <div class="w-2/4 rounded-lg bg-white p-6">
    <div class="flex flex-col space-y-2 text-left">
      <h1 class="text-lg font-semibold">
        Sei sicuro di voler eliminare questa risorsa?
      </h1>
      <p class="font-normal mt-3">
        Questa azione non può essere annullata. Questo eliminerà permanentemente
        il slot e rimuoverà i dati dai nostri server.
      </p>
    </div>
    <div class="flex flex-row justify-end space-x-2 mt-9">
      <button class="bg-white border h-11 pr-3 pl-3 rounded-md w-fit" (click)="closeModal()">
        Annulla
      </button>
      <button class="bg-zinc-950 h-11 pr-3 pl-3 text-white rounded-md w-fit" (click)="delete()">
        Elimina
      </button>
    </div>
  </div>
</div>