.center-wrapper {
	background-color: #121212;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.login-card {
	width: 100%;
	max-width: 400px;
	padding: 1.5rem;
	border-radius: 10px;
	background-color: #1e1e1e;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.custom-link {
    display: block;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.custom-link:hover,
.custom-pwd-link:hover {
    text-decoration: underline;
    color: #0056b3;
}

.card-title {
	color: #ffffff;
}

.form-control {
	background-color: #2d2d2d;
	color: #ffffff;
	border: 1px solid #444;
}

.form-control:focus {
	background-color: #2d2d2d;
	color: #ffffff;
	border-color: #666;
	box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.25);
}

.form-floating label {
	color: #888;
}