<div class="center-wrapper">
    <div class="card login-card">
        <form class="card-body">
            <h3 class="card-title text-center mb-4">Inserisci la tua email</h3>
            <form #form="ngForm">
                <div class="form-floating mb-3">
                    <input [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="" name="email"
                        value="" required> <label for="email">Email</label>
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-primary" [disabled]="!form.valid" (click)="conferma()">Conferma</button>
                </div>
            </form>
        </form>
        <a [routerLink]="'/login'" class="custom-link">Indietro</a>
    </div>
</div>