
.validation-message-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.validation-message-container.show {
    max-height: 50px; /* Imposta una dimensione massima per il messaggio */
    opacity: 1;
}

.register-card {
	width: 100%;
	max-width: 800px;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-link {
	display: block;
	margin-top: 1rem;
	text-align: center;
	font-size: 1rem;
	color: #007bff;
	text-decoration: none;
	font-weight: 500;
}

.custom-link:hover {
	text-decoration: underline;
	color: #0056b3;
}

.invisible-button:disabled {
    background: none; /* Rimuove lo sfondo */
    border: none;     /* Rimuove il bordo */
    color: inherit;   /* Mantiene il colore del testo */
    padding: 0;       /* Rimuove il padding */
    margin: 0;        /* Rimuove il margine */
    font: inherit;    /* Mantiene il font */
}

.invisible-button:hover {
    background: none; /* Rimuove lo sfondo */
    border: none;     /* Rimuove il bordo */
    color: inherit;   /* Mantiene il colore del testo */
    padding: 0;       /* Rimuove il padding */
    margin: 0;        /* Rimuove il margine */
    font: inherit;    /* Mantiene il font */
    cursor: pointer;  /* Mantiene il cursore a forma di mano */
}

.invisible-button:disabled:hover {
    cursor: default;  /* Mantiene il cursore a forma di mano */
}

.invisible-button i{
color: #0d6efd;
}
.invisible-button:disabled i{
    color: #6da1ee;
}