@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-text-light: rgb(181, 181, 181);
    --color-text-dark: rgb(51, 51, 51);

    --color-text-cell: rgb(216, 216, 216);
    --color-text-cell-dark: rgb(95, 95, 95);
    
    --color-selected-red: rgb(241, 85, 80);

    --color-dark-dark: rgb(27, 27, 27);
    --color-dark-bg: rgb(38, 38, 38);
    --color-dark-weekend: rgb(36, 36, 36);
    --color-grey: rgb(57, 57, 57);

    --alert-error: #ff4444;
    --alert-success: #24C958;
    
    --color-border: rgba(63, 63, 63, 0.425);
    --divider-border: 0.1px solid var(--color-border);

    --border-test: 1px solid red;

    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .2s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    --section-padding: 0.4em;
    --gap-padding: 0.5em;
}

/* ------------------------------------- */
/* ?Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: var(--color-text-light);
    background-color: var(--color-dark-bg);
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    max-height: 100dvh;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: default;
}

/* ------------------------------------- */
/* ?REUSABLE COMPONENTS? */
/* ------------------------------------- */

/* !------Headings------! */
h1,
h2,
h3 {
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: clamp(1.55em, 2.3vw, 2.5em);
    font-weight: 400;
}

/* !------Buttons------! */
button {
    color: var(--color-text-cell);
    font-family: "Host Grotesk", serif;
    font-style: normal;
    font-size: 11px;
    border: none;
    overflow: hidden;
    transition: var(--animation-smooth);
    cursor: pointer;

    &:hover.today {
        background-color: var(--color-selected-red);
    }
}

.btn-svg {
    border: none;
    background: none;
    border-radius: 20%;
    width: 20px;
    height: 20px;
    transition: 100ms ease-in-out;

    &:hover {
        background-color: var(--color-grey);
    }
}

.highlight-week {
    background-color: var(--color-grey);
}

.trasp-cella {
    color: var(--color-text-cell-dark);
}

.today {
    background-color: var(--color-selected-red);
}

/* !------Img------! */
svg {
    width: 100%;
    height: 100%;
}

span {
    width: fit-content;
    height: fit-content;
}