:root {
    --color-text-light: rgb(181, 181, 181);
    --color-text-dark: rgb(51, 51, 51);

    --color-text-cell: rgb(216, 216, 216);
    --color-text-cell-dark: rgb(95, 95, 95);
    
    --color-selected-red: rgb(241, 85, 80);

    --color-dark-dark: rgb(27, 27, 27);
    --color-dark-bg: rgb(38, 38, 38);
    --color-dark-weekend: rgb(36, 36, 36);
    --color-grey: rgb(57, 57, 57);

    --alert-info: #3565e7;
    --alert-warning: #7c7a10;
    --alert-error: #bd1414;
    --alert-success: #24C958;
    
    --color-border: rgba(63, 63, 63, 0.425);
    --divider-border: 0.1px solid var(--color-border);

    --border-test: 1px solid red;

    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .2s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    --section-padding: 0.4em;
    --gap-padding: 0.5em;
}


/* ------------------------------------- */
/* ?Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: var(--color-text-light);
    background-color: var(--color-dark-bg);
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    max-height: 100dvh;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: default;
}