<main class="min-h-screen h-full max-h-screen overflow-scroll relative">
  <nav class="flex items-baseline p-3 border-b">
    <h1
      class="font-bold text-xl text-zinc-950 cursor-pointer"
      [routerLink]="'/amministrazione'"
    >
      Amministrazione
    </h1>
    <h2
      class="font-normal text-zinc-400 ml-4 cursor-pointer"
      [routerLink]="'/amministrazione/slots'"
    >
      Slot di Prenotazione
    </h2>
    <h2
      class="font-normal text-zinc-400 ml-4 cursor-pointer"
      [routerLink]="'/amministrazione/resources'"
    >
      Risorse
    </h2>
  </nav>

  <router-outlet></router-outlet>
</main>
